body {
    font-family: "Montserrat";
}

.selector-for-some-widget {
    box-sizing: content-box;
  }

#title {
    background-color: #ff4c68;
}

.h1 {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: #ffff
}

.container-fluid {
    padding: 3% 15%;
}

.navbar {
    padding: 0 0 4.5rem;
}
.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.title-image {
    transform: rotate(25deg);
    width: 60%;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-style: 1.2rem;
    font-family: "Montserrat";
}

.download-button {
    margin:  5% 3% 5% 0;
}

